<div class="container" fxLayout="column">
    <div class="home" fxLayout="row" fxLayout.s ="column-reverse" fxLayoutAlign.xs="center end" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div fxFlex="90" fxFlex.s="0">
            <p>By the time you realize you'll have your <span style="color: green;">order!</span></p>
        </div>
        <div fxFlex="10" fxFlex.s="0" class="floating_img">
            <img src="../../../assets/home.png" alt="">
        </div>
  
    </div>
    <div class="expand">
        <span class="material-icons">
            expand_more
            </span>
            <div class="wave">
                <img height="50%" width="100%" src="../../../assets/wave.svg" alt="" srcset="">
          </div>
    </div>

    <div id="products_list">
           <app-products-list></app-products-list>
    </div>
</div>